{{ $main := resources.Get "js/main.js" }}
{{ $menu := resources.Get "js/menu.js" }}
{{ $theme := resources.Get "js/theme.js" }}
{{ $postsFeed := resources.Get "js/posts-feed.js" }}
{{ $codeCopy := resources.Get "js/code-copy.js" }}
{{ $secureJS := slice $main $menu $theme $postsFeed $codeCopy | resources.Concat "bundle.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}" nonce=""></script>

{{ range $val := $.Site.Params.customJS }}
    {{ if gt (len $val) 0 }}
        <script src="{{ $val }}" nonce=""></script>
    {{ end }}
{{ end }}

{{ with .Site.Params.cloudflareWebAnalytics }}
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "{{.}}"}' nonce=""></script>
{{ end }}
